#inputlimite {
    width: 400px;
    border-style: solid;
    border-width: 5px;
    border-color: #B5B1B1;
    border-radius: 4px;  
    height: 20px;
    background-color: #EFEAEA;
    padding: 5px;
    display: block;
    }
    
#fich {
    width: 500px;
    background-color: #ffffff;
    border: 1px black;
    height: 450px;
    display: block;
    margin: 48px auto;
    overflow: scroll;
    white-space: pre-wrap;
}

body {
    background-color: #002266;
    text-align: justify;
}

#devanture {
    width: 600px;
    margin: auto;
    background-color: #a6a6a6;
    box-shadow: 1px 1px 1px 1px #000000;
    padding: 26px;
    margin-bottom: 46px;
}

h1 {
    text-align: center;
    color: #ffffff;
    text-shadow: 1px 1px 1px #000000;
    letter-spacing: 1px;
}

h2 {
    text-align: center;
    color: #ffffff;
    text-shadow: 1px 1px 1px #000000;
    letter-spacing: -1px;
}

button {
    display: block;
    margin: auto;
}

#instruction {
    width: 600px;
    text-align: justify;
    padding: 6px;
    color: #ffffff;
    margin: auto;
}

#inputetendu {
    width: 400px;
    border-style: solid;
    border-width: 5px;
    border-color: #b5b1b1;
    border-radius: 4px;
    height: 160px;
    background-color: #efeaea;
    padding: 5px;
    display: block;
}

#rang {
    font-size: 20px;
    letter-spacing: 1px;
    transition: letter-spacing 4s, text-indent 4s;
    padding-bottom: 6px;
}

#rang:hover {
    font-size: 20px;
    letter-spacing: 4px;
    text-indent: 20px;
    padding-bottom: 6px;
}

#precision {
    text-align: justify;
}