input {
    width: 250px;
    border-style: solid;
    border-size: 5px;
    border-color: #B5B1B1;
    border-radius: 4px;  
    height: 20px;
    background-color: #EFEAEA;
    padding: 5px;
    }
    
#fich {
    width: 500px;
    background-color: rgba(160, 90, 205, 0.1);
    border: 1px black;
    height: 450px;
    overflow: scroll;
}
