.fond{
    font-family: 'Alex Brush', cursive;
    background-image: url("parchemin2.png");
    background-repeat: no-repeat;
    background-size: 470px;
    font-size: 30px;
    line-height: 25px;
    overflow: hidden;
    height: 661px;
}
h1{
    position: absolute;
    top: 60px;
    margin: 0px auto;
    text-align: center;
    font-family: 'Alex Brush', cursive;
    text-shadow: 1px 1px 1px;
    left: 55px;
    font-size: 50px;
    line-height:35px;
}
.description{
    top: 130px;
    left: 30px;
    position: absolute;
    width: 410px;
    height: 390px;
    overflow: auto;
}
#image{
    width: 100px;
    position: absolute;
    top: 546px;
    left: 60px;
}
body{
    font-family: 'Alex Brush', cursive;
}
#video{
    position:absolute;
    top: 570px;
    left: 350px;
    float; right;
}
